<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>CustomAssets/arrowblack.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 770}, {91, 108}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {91, 108}}</string>
			<key>sourceSize</key>
			<string>{91, 108}</string>
		</dict>
		<key>CustomAssets/arrowwhite.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 660}, {91, 108}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {91, 108}}</string>
			<key>sourceSize</key>
			<string>{91, 108}</string>
		</dict>
		<key>CustomAssets/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {512, 384}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 384}}</string>
			<key>sourceSize</key>
			<string>{512, 384}</string>
		</dict>
		<key>CustomAssets/buttonblack.png</key>
		<dict>
			<key>frame</key>
			<string>{{1007, 80}, {12, 12}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {12, 12}}</string>
			<key>sourceSize</key>
			<string>{12, 12}</string>
		</dict>
		<key>CustomAssets/buttonwhite.png</key>
		<dict>
			<key>frame</key>
			<string>{{993, 80}, {12, 12}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {12, 12}}</string>
			<key>sourceSize</key>
			<string>{12, 12}</string>
		</dict>
		<key>CustomAssets/circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{515, 1}, {428, 428}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36, 36}, {428, 428}}</string>
			<key>sourceSize</key>
			<string>{500, 500}</string>
		</dict>
		<key>CustomAssets/circleSmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{945, 117}, {44, 44}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {44, 44}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>CustomAssets/danger.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 533}, {125, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {125, 120}}</string>
			<key>sourceSize</key>
			<string>{125, 120}</string>
		</dict>
		<key>CustomAssets/flag.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 387}, {144, 183}}</string>
			<key>offset</key>
			<string>{-1, -2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 5}, {144, 183}}</string>
			<key>sourceSize</key>
			<string>{147, 188}</string>
		</dict>
		<key>CustomAssets/mgwu-icon-200.png</key>
		<dict>
			<key>frame</key>
			<string>{{945, 80}, {46, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 8}, {46, 35}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>CustomAssets/mgwu-icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 880}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>CustomAssets/square.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 387}, {308, 308}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96, 96}, {308, 308}}</string>
			<key>sourceSize</key>
			<string>{500, 500}</string>
		</dict>
		<key>CustomAssets/square200.png</key>
		<dict>
			<key>frame</key>
			<string>{{991, 117}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9, 9}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>CustomAssets/square500.png</key>
		<dict>
			<key>frame</key>
			<string>{{945, 1}, {77, 77}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24, 24}, {77, 77}}</string>
			<key>sourceSize</key>
			<string>{125, 125}</string>
		</dict>
		<key>CustomAssets/squareSmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{993, 94}, {8, 8}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>sourceSize</key>
			<string>{8, 8}</string>
		</dict>
		<key>CustomAssets/squarebackup.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 697}, {308, 308}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96, 96}, {308, 308}}</string>
			<key>sourceSize</key>
			<string>{500, 500}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>CustomAssets.png</string>
	</dict>
</dict>
</plist>
